@media screen and (max-width: 768px) {
    .contact-form {
        display: flex;
        flex-direction: column-reverse;
    }

    nav ul {
        display: none;
    }

    nav {
        margin-bottom: 50px;
    }

    main h2 {
        font-size: 25px;

    }

    main p {
        width: 100%;
        font-size: 12px;
        text-align: justify;
    }

    .menu {
        display: block;
    }

    .menu i {
        font-size: 30px;
    }

    .logo h2 {
        font-size: 30px;
    }

    .contact-form form input {
        width: 90%;
    }

    .contact-form form textarea {
        width: 90%;
    }

    .contact-form .group-btn {
        display: block;
    }

    .contact-form .group-btn button {
        width: 100%;
        margin: 15px 0;
    }
}